@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .sidepanel {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    line-height: 39px;
    &_fz48 {
      font-size: 10px;
    }
  }
  .promo {
    &_title {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .title {
    line-height: 39px;
    &_fz48 {
      font-size: 10px;
    }
  }
}
